<div class="relative w-full h-screen overflow-hidden">
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute inset-0 w-full h-full object-cover z-0"
  >
    <source src="../../assets/background.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div
    class="relative z-10 flex flex-col items-center justify-center h-full text-white text-center"
  >
    <h1 class="text-5xl font-bold mb-4">About Me</h1>
    <p class="text-lg text-[24px] w-[80%] font-light leading-10">
      Welcome! I'm Chebbah Mohamed Amine, a passionate Software Engineer based
      in Tunis, Tunisia. With a blend of technical expertise and design
      creativity, I specialize in developing web solutions that are both
      powerful and user-focused. My goal? To turn complex requirements into
      intuitive, efficient, and visually appealing digital experiences. Let's
      explore my journey!
    </p>

    <div class="mt-28">
      <a href=""><img src="" alt="" /></a>
      <a href=""><img src="" alt="" /></a>
      <a href=""><img src="" alt="" /></a>
      <a href=""><img src="" alt="" /></a>
    </div>
  </div>
</div>
